
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <label>Welcome @ViewBag.Name to My App</label><br />

    @for (int i = 1; i <= ViewBag.Num; i++)
    {
        <label>Welcome !</label>
    }
</div>

